# https://editorconfig.org/
root = yes

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[**.cc]
indent_size = 2
indent_style = space

[**.h]
indent_size = 2
indent_style = space
