*.la
*.lo
*.o
*.pyc

**.deps/
**.dirstamp

# /
/autom4te.cache

/compile
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing

/config.log
/INSTALL
/Makefile
/Makefile.in

/aclocal.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/*.pc

# /apertium/wildcard
/apertium/.libs

/apertium/apertium
/apertium/apertium-*[!1]

!/apertium/apertium-createmodes.awk
!/apertium/apertium-header.sh
!/apertium/apertium-multiple-translations.cc
!/apertium/apertium-unformat-header.sh


/apertium/apertium_config.h
/apertium/apertium_config.h.in
/apertium/apertium_config.h.in~
/apertium/apertium_deshtml.cc
/apertium/apertium_deslatex.cc
/apertium/apertium_desmediawiki.cc
/apertium/apertium_desodt.cc
/apertium/apertium_despptx.cc
/apertium/apertium_desrtf.cc
/apertium/apertium_destxt.cc
/apertium/apertium_deswxml.cc
/apertium/apertium_desxlsx.cc
/apertium/apertium_desxpresstag.cc
/apertium/apertium_postlatex.cc
/apertium/apertium_postlatex_raw.cc
/apertium/apertium_prelatex.cc
/apertium/apertium_rehtml.cc
/apertium/apertium_rehtml_noent.cc
/apertium/apertium_relatex.cc
/apertium/apertium_remediawiki.cc
/apertium/apertium_reodt.cc
/apertium/apertium_repptx.cc
/apertium/apertium_rertf.cc
/apertium/apertium_retxt.cc
/apertium/apertium_rewxml.cc
/apertium/apertium_rexlsx.cc
/apertium/apertium_rexpresstag.cc

/apertium/dix.rnc
/apertium/format.rnc
/apertium/interchunk.rnc
/apertium/Makefile
/apertium/Makefile.in
/apertium/modes.rnc
/apertium/postchunk.rnc
/apertium/tagger.rnc
/apertium/transfer.rnc

/apertium/stamp-*

# Tests
/tests/**/Makefile.in
/tests/**/Makefile
/tests/**/.libs

/tests/tagger/test-find-similar-ambiguity-class
tests/data/nno-nob.t3x.bin
